<html>
  <head>
    <link rel="stylesheet" href="/public/css/index.css">  
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>404</title>
  </head>
  <body>
    <div><a href="/propietario">Registrar Propietario</a></div>
    <div><h1>Pagina no encontrada</h1></div> 
    <div>
      <img style="display: block; width: 300px; height: 300px" src="https://avatars.githubusercontent.com/u/5018770?v=4" alt="@juanvladimir13" />
    </div>
    <div><h2>Contactos en cualquier red social <small>@juanvladimir13</small></h2></div>
  </body>
</html>


